/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

body{
  margin:0;
  padding:0;
  background-color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}
* {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}

button {
  font-family: 'Poppins', sans-serif;
}

input, textarea {
  background-color: transparent;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
