/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

body {
  margin: 0;
  padding: 0;
  background: white !important;
  font-family: 'Poppins', sans-serif !important;
}

* {

  font-family: 'Poppins', sans-serif !important;
}

p {
  font-family: 'Poppins', sans-serif !important;
  font-size: 0.95rem;
}

button {
  font-family: 'Poppins', sans-serif !important;
}

input,
textarea {
  /* background-color: transparent; */
  outline: none;
  font-family: 'Poppins', sans-serif !important;
}

.service-card:hover {
  background-color: #f0f5ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.platform-card:hover {
  background-color: #f0f5ff;
  border: 1px solid #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}